body{
    font-family: 'Courier New', Courier, monospace;
    background-color: azure;
}




h1{
    color:rgba(255, 192, 203, 0.24);
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: forestgreen;
    background-image: url(images/chelsea\ flag.jpg);
    padding: 50px;

    );
    font
}

#obiora{
background-color: lightblue;
padding: 20px;
border-radius: 10px;
color: darkgreen;
font-weight: bolder;
box-shadow: 5px 10px 20px;
}